body{
  width: 300%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.header{
  position: fixed; left: 0%; top: 0%;
  width: 180px;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: inline;
}

.footer{
  width: 4000px;
  background-color: black;
  height: 16px;
  margin-left: 190px;
  position: fixed; bottom: 45px;
}

.menu{
  margin-top: 15%;
  margin-left: 15%;
  width: 120px;
}

.logo{
  margin-top: 15%;
  margin-left: 15%;
}




.about{
  margin-left: 300px;
  width: 25%;
  height: 100%;
  background-color: white;
  float: left;
  display: inline;
}

.contact{
  margin-left: 300px;
  width: 25%;
  height: 100%;
  background-color: white;
  float: left;
  display: inline;
}

.preview{
  margin-left: 200px;
  width: 25%;
  height: 100%;
  background-color: white;
  float: left;
  display: inline;
}

.portfolio{
  margin-left: 200px;
}



.text{
  width:80%;
}

ul{
  padding: 0;
}

ul li {
  display: inline-block;
  list-style: none;
  margin-right: 15px;
  margin-top: 15px;
  padding: 0;
}

.box {
  width: 240px;
  height: 240px;
}

.box img {
  display: block;
}

.box a {
  display: block;
}

.box a:hover img {
  opacity: 0.3;
}




.more{
  float: right;
  height: 100px;
  width: 100px;
  margin-top: 5%;
}


.description{
  margin-left: 200px;
  width: 200px;
  margin-top: 0,8%;
}
